.git
.gitignore
.gitattributes
.vscode
.idea
*.iml
*.iws
*.ipr
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.md
HELP.md
target/
.env
.env.example
.mvn/wrapper/maven-wrapper.jar
compose.yml
docker-compose.yml
Dockerfile
.dockerignore
.DS_Store
*.log
node_modules
